@font-face {
    font-family: "Manrope3";
    src:    local('Manrope3-Bold'),
            url('assets/fonts/Manrope3-Bold.otf');
    font-weight: bold; 
}

@font-face {
    font-family: "Manrope3";
    src:    local('Manrope3-Semibold'),
            url('assets/fonts/Manrope3-Semibold.otf');
    font-weight: 600; 
}

@font-face {
    font-family: "Manrope3";
    src:    local('Manrope3-Medium'),
            url('assets/fonts/Manrope3-Medium.otf');
    font-weight: 500; 
}

@font-face {
    font-family: 'HandOfSeanPro';
    src:    local('HandOfSeanPro-Regular'),
            url('assets/fonts/HandOfSean.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Apple Color Emoji";
    src:    local("AppleColorEmoji"),
            url('assets/fonts/AppleColorEmoji.ttf');
}

body {
    margin: 0;
    font-family: 'Manrope3', 'Roboto', sans-serif;
}

a {
    text-decoration: none;  
}

p {
    margin: 0;
}

.container {
    max-width: 1128px;
    margin: 0 auto;
}

.overhead {
    font-family: Manrope3;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #f43939;
}

.section-header {
    font-family: Manrope3;
    font-size: 32px;
    font-weight: bold;
    color: #21272e;
}

button {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}