@font-face {
    font-family: "Manrope3";
    src:    local('Manrope3-Bold'),
            url('assets/fonts/Manrope3-Bold.otf');
    font-weight: bold; 
}

@font-face {
    font-family: "Manrope3";
    src:    local('Manrope3-Semibold'),
            url('assets/fonts/Manrope3-Semibold.otf');
    font-weight: 600; 
}

@font-face {
    font-family: "Manrope3";
    src:    local('Manrope3-Medium'),
            url('assets/fonts/Manrope3-Medium.otf');
    font-weight: 500; 
}

@font-face {
    font-family: 'HandOfSeanPro';
    src:    local('HandOfSeanPro-Regular'),
            url('assets/fonts/HandOfSean.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Apple Color Emoji";
    src:    local("AppleColorEmoji"),
            url('assets/fonts/AppleColorEmoji.ttf');
}

html {
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Manrope3', 'Roboto', sans-serif;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.App {
    position: relative;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;  
}

p {
    margin: 0;
}

.container {
    max-width: 1128px;
    margin: 0 auto;
}

.overhead {
    font-family: Manrope3;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #f43939;
}

.section-header {
    font-family: Manrope3;
    font-size: 32px;
    font-weight: bold;
    color: #21272e;
}

.section-subtitle {
    font-family: Manrope3;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    color: #21272e;
}

.section-text {
    font-family: Manrope3;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
    color: #787c80;
}

button {
    margin: 0;
    padding: 0;
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.dots {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./assets/images/first-dots.png') no-repeat right 93px top 5px/600px,
                url('./assets/images/second-dots.png') no-repeat right 100px top 802px/961px,
                url('./assets/images/third-dots.png') no-repeat left 319px bottom 998px/710px,
                url('./assets/images/fourth-dots.png') no-repeat left 323px bottom 151px/370px;
}

@media only screen and (max-width: 767px) {
    .dots {
        display: none;
    }
}